.heading{
    color: #5050ad;
    font-size: 35px;
    font-weight: 851;
    margin-bottom: 31px;
}

.itemClass{
    text-align: left;
    margin: 30px;
}

.Pk-row{
    margin: 15px;
    width: 100%;
}

.Pk-button{
    min-width: 104px ;
}

input{
    width: 100%;
}